################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BroadcastOverTcp/bin
/BroadcastOverTcp/obj
/.vs
*.user
