################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BroadcastOverTcp/bin/Debug
/BroadcastOverTcp/obj/Debug
/.vs
